/*
Default e621.net CSS
Converted by zhiyan114 (兽迷第一)
*/
body {
    background-color: rgb(1, 46, 86);
    color: #ffffff;
    font-size: 85%;
    margin:0;
    padding:0;
}

div,h1,h2,h3,h4,h5,h6,p,ul,li,dd,dt {
    font-family:verdana,sans-serif;
    margin:0;
    padding:0;
  }
  

.Homebody {
    background-color: #012e56;
    background-attachment:fixed;
    background-position:50% 0%;
    background-repeat:no-repeat;
}

  #page {
    background: none !important;
  }

  #links > a {
    padding: 0.4rem 0.4rem;
  }
  #links {
    margin-top:-1px;
    margin-bottom: 0.3rem;
  }

  div#a-home {
    text-align: center;
    position:absolute;
    top:28em;
    left:0;
    right:0;
  }
  .mascotbox {
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:50% 0;
    margin: 10px auto;
    padding:2px 0;
    width:480px;
    max-width: 98vw;
    border-radius: 5px;
    box-shadow: 0 0 5px #000;
    text-shadow: 0 0 2px black, 0 0 6px black;
    backdrop-filter: blur(8px);
  }

  #searchbox { padding-bottom:5px; }
  #searchbox3 { font-size: 80%; }

  @media only screen and (max-height: 600px) {
    div#a-home {
      top: 25vh;
    }
  }

  /* Restyling some internal (重新设置文本) */
  a, a:visited, a:hover {
    color: #b4c7d9;
    text-decoration: none;
  }
  a:hover {
    color: #dae7ef;
  }
  a:active {
    color: #f2c245;
  }
  button, input, select, textarea {
    border: 0;
    border-radius: 2px;
    min-width: 5rem;
  }
  button, input[type="button"], input[type="submit"] {
    font-size: 13.7px;
    cursor: pointer;
  }
   input:focus, select:focus, textarea:focus {
    background-color: #ffffcd;
    border: 0px none;
    outline: none;
  }
  .Homebody button:focus {
    background-color: #ffffcd;
    border: 0px none;
    outline: none;
  }
  #searchbox2 img {
    vertical-align: middle;
    margin-left: 2.4px;
    margin-right: 2.4px;
  }
  /*
  div > * {
    margin-top: 0px;
  }
  /*
  br {
    display: block;
    margin: -4px 0;
    content:" "
  }
  /*
  div > br {
    display: block;
    margin: -4px 0;
    content:" "
  }
  */