.menu {
    background-color: #020f23;
    margin: 0 1rem 0.8px;
    padding: 0.3px 1rem;
    border-bottom: 2px solid #152f56;
    border-radius: 6px;
    margin-bottom: 13px;
}
#nav-sign-in-link {
    color: #ff0000;
}
.menu li {
    display: inline-block;
    margin: 0px;
    padding: 6px 10px;
    padding-right: 14.5px;
    letter-spacing: 0.034em;
}